<!DOCTYPE html>
<html>
<head>
  <title>Wb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

<!-- bootstrap twitter -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	
	<!-- Include jQuery Syntax Highlighter -->
	<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
	<!-- Initialise jQuery Syntax Highlighter -->
	<script type="text/javascript">$.SyntaxHighlighter.init();</script>
	<!-- Initialise jQuery Syntax Highlighter -->
	<script type="text/javascript">
	    $.SyntaxHighlighter.init({
	        'wrapLines':false
	    });
	</script>

	<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>tinymce.init({selector:'textarea'});</script>

</head>

<body>

	<!-- top navigation -->
	<%= render 'shared/admin_nav' %>	

	 <div class="container-fluid">
	   <div class="row" style="margin-top:60px;">
	     
	     <!-- side menu admin -->
	     <%= render 'shared/sidemenu_admin' %>
			
			<div class="col-lg-10 col-xs-12">
				<%= yield %>
	   	</div>

	   </div>
	 </div>



</body>
</html>
